:host {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.drop-overlay {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 4px);
  background: rgba(0, 0, 0, 0.5);
  border: 2px dashed white;
  border-radius: 4px;
  color: white;
  font-size: 1.5em;
}

.drawer-container {
  height: 100%;
}

.drawer {
  height: 100%;
  width: 200px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr auto auto;
}

.file-list-container {
  height: 100%;
  overflow: auto;
}

.button {
  border-radius: 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
}
