<ngx-file-drop
  dropZoneClassName="dropzone"
  contentClassName="dropzone-content"
  (onFileDrop)="dropped($event)"
  accept="image/*"
>
  <ng-template
    ngx-file-drop-content-tmp
    let-openFileSelector="openFileSelector"
  >
    <mat-drawer-container class="drawer-container">
      <mat-drawer mode="side" opened>
        <div class="drawer">
          <mat-toolbar color="primary">
            <span>Battlemap Generator</span>
          </mat-toolbar>
          <button
            mat-flat-button
            (click)="deleteLayers()"
            class="button"
            color="primary"
            [disabled]="deleteDisabled"
          >
            Delete
          </button>
          <div class="file-list-container">
            <app-file-list [layerList]="layerList"></app-file-list>
          </div>
          <button
            mat-flat-button
            (click)="openFileSelector()"
            class="button"
            color="primary"
          >
            Browse Files
          </button>
          <button
            mat-flat-button
            class="button"
            (click)="export()"
            color="primary"
            [disabled]="layerList?.length === 0"
          >
            Export
          </button>
        </div>
      </mat-drawer>
      <mat-drawer-content>
        <div class="drop-overlay" *ngIf="layerList?.length === 0">
          <h1>Drop Images Here</h1>
          <h3>Shift + Mouse to pan</h3>
          <h3>Shift + Mousewheel to zoom</h3>
          <button mat-flat-button (click)="openFileSelector()" color="primary">
            Browse Files
          </button>
        </div>
        <app-map class="boundary" [layerList]="layerList" #map></app-map>
      </mat-drawer-content>
    </mat-drawer-container>
  </ng-template>
</ngx-file-drop>
