:host {
  height: 100%;
  overflow: auto;
}

.export-container {
  position: absolute;
}

.export-canvas {
  visibility: hidden;
}

.canvas-container {
  position: absolute;
  top: 30px;
  left: 30px;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

.panzoom-container {
  display: inline-block;
}

.ruler-horizontal {
  position: absolute;
  top: 0;
  left: 30px;
  height: 30px;
  width: calc(100% - 30px);
}

.ruler-vertical {
  position: absolute;
  top: 30px;
  left: 0;
  width: 30px;
  height: calc(100% - 30px);
}
