<div class="canvas-container">
  <ng-container *ngFor="let layer of layerList">
    <app-map-item
      [layer]="layer"
      [editable]="layer.editable"
      (change)="mapItemChange($event)"
      #mapItem
    ></app-map-item>
  </ng-container>
  <!-- <ngx-moveable
    [target]="groupedList"
    [draggable]="true"
    [rotatable]="true"
    [scalable]="true"
    [throttleRotate]="0"
    rotationPosition="top"
    (rotateGroup)="onRotateGroup($event)"
    (rotateGroupEnd)="onRotateGroupEnd($event)"
    [throttleDrag]="0"
    (dragGroup)="onDragGroup($event)"
    (dragGroupEnd)="onDragGroupEnd($event)"
    [keepRatio]="true"
    [origin]="false"
    (scaleGroup)="onScaleGroup($event)"
    (scaleGroupEnd)="onScaleGroupEnd($event)"
  ></ngx-moveable> -->
</div>
<div class="export-container">
  <canvas #canvas></canvas>
</div>
