:host {
  height: 100%;
  overflow: auto;
  display: block;
}

.export-container {
  position: absolute;
}

.export-canvas {
  visibility: hidden;
  // grid-column-start: 2;
}

.canvas-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
