<ng-container *ngFor="let layer of layerList">
  <canvas
    #canvasElement
    [width]="layer.img.width"
    [height]="layer.img.height"
  ></canvas>
  <ngx-moveable
    [target]="canvasElement"
    [className]="layer.editable ? 'editable' : 'uneditable'"
    [draggable]="layer.editable"
    [rotatable]="layer.editable"
    [scalable]="layer.editable"
    [throttleRotate]="0"
    rotationPosition="top"
    (rotate)="onRotate($event, layer)"
    [throttleDrag]="0"
    (drag)="onDrag($event, layer)"
    [keepRatio]="true"
    [origin]="false"
    (scale)="onScale($event, layer)"
  ></ngx-moveable>
</ng-container>
<canvas style="display: none; position: absolute;" #exportCanvas></canvas>
