<button mat-icon-button (click)="panzoomReset()">
  <mat-icon>my_location</mat-icon>
</button>
<div class="ruler-horizontal" #rulerHorz></div>
<div class="ruler-vertical" #rulerVert></div>
<div class="canvas-container" #container>
  <div class="panzoom-container" #panzoomContainer>
    <ng-container *ngFor="let layer of layerList; let index = index">
      <app-map-item
        class="map-item"
        [class.editable]="layer.editable"
        [layer]="layer"
        [editable]="layer.editable && !(layerList | isGroup)"
        [index]="index"
        [bounds]="bounds"
        [container]="panzoomContainer"
        (change)="mapItemChange($event)"
        #mapItem
      ></app-map-item>
    </ng-container>
    <canvas class="export-canvas" #canvas></canvas>
  </div>
</div>
<ngx-moveable
  *ngIf="layerList | isGroup"
  [target]="mapItemsGroup"
  [draggable]="true"
  [rotatable]="true"
  [scalable]="true"
  [className]="'editable'"
  [throttleRotate]="0"
  rotationPosition="top"
  (rotateGroup)="onRotateGroup($event)"
  (rotateGroupEnd)="onRotateGroupEnd($event)"
  [throttleDrag]="0"
  (dragGroup)="onDragGroup($event)"
  (dragGroupEnd)="onDragGroupEnd($event)"
  [keepRatio]="true"
  [origin]="false"
  (scaleGroup)="onScaleGroup($event)"
  (scaleGroupEnd)="onScaleGroupEnd($event)"
></ngx-moveable>
