/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dropzone {
  height: 100%;
}

.dropzone-content {
  height: 100%;
  display: grid;
  grid-template-areas:
    "filelist map"
    "filelist map";
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;

  app-settings {
    grid-area: settings;
  }
  app-filelist {
    grid-area: filelist;
  }
  app-map {
    grid-area: map;
  }
}
