/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  background: lightgrey;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dropzone {
  height: 100%;
}

.dropzone-content {
  height: 100%;
}
//   display: grid;
//   grid-template-areas: "aside main";
//   grid-template-columns: 200px 1fr;
//   grid-template-rows: 1fr;

//   aside {
//     grid-area: aside;
//   }

//   main {
//     grid-area: main;
//   }
// }
