/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";
@import "~@angular/material/theming";

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: "Montserrat, monospace",
);
@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

.dropzone {
  height: 100%;
}

.dropzone-content {
  height: 100%;
}

.moveable-control-box.editable .moveable-line.moveable-direction {
  display: block;
}

.moveable-control-box .moveable-line.moveable-direction {
  display: none;
}

//   display: grid;
//   grid-template-areas: "aside main";
//   grid-template-columns: 200px 1fr;
//   grid-template-rows: 1fr;

//   aside {
//     grid-area: aside;
//   }

//   main {
//     grid-area: main;
//   }
// }
